body {
  font-size: 16px;
  background: white;
  font-family: 'Raleway', sans-serif;
}

main {
  max-width: 1440px;
  margin: auto;
  padding: 0 56 0 56;
}

/*______header______*/
.flexheader {
  padding: 30 0 30 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.flexheader ul {
  display: flex;
}

nav a {
  padding: 32px;
}

nav a:hover {
  color: #0065FC;
  padding-top: 41px;
  border-top: 2px solid #0065FC;
}

.flexheader img {
  margin-left: 16px;
  width: 97px;
  height: auto;
}

.headerTitle {
  font-weight: 900;
  font-size: 150%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headerSubTitle {
  margin-bottom: 20px;
}

@media screen and (max-width:992px) {
  .searchFilter .iconBox {
    margin-bottom: 10;
    color: red;
  }

  .searchFilter h2{
    margin-bottom: 15;
  }
}


/*__________section search____________*/
form {
  border-radius: 16px;
  display:inline-flex;
  font-weight: 900;
  border: 1px solid #F2F2F2;
  margin-bottom: 26;
}

form input {
  padding-left: 10;
  margin-right: -10;
}

form button {
  padding: 12;
  color: white;
  background: #0065FC;
  border-radius: 0 16px 16px 0;
}

form i {
  padding: 16 20 16 18;
  border-radius: 16px 0 0 16px;
  background: #F2F2F2;
}

.searchFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  font-weight: 900;
  margin-bottom: 40;
}

.searchFilter h2 {
  padding: 0 36 0 10;
}

.searchFilter .iconBox {
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 48;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30;
}

.flex > .iconBox:nth-child(-n+3){
  margin-right: 20px;
}

.searchFilter .iconBox:hover {
  border: 2px solid #0065FC;
  background: #F2F2F2;
  transition: ease-in;
  transition-duration: 150ms;
}

.searchFilter .iconfas {
  color: #0065FC;
  background: #DEEBFF;
  border-radius: 50%;
  position: relative;
  right: 3px;
  height: 48;
  width: 48;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchFilter span {
  padding: 14px;
}

.searchResult {
  align-items: center;
  margin-bottom: 50px;
  display: flex;
}

.searchResult div {
  display: flex;
  height: 28px;
  width: 28px;
  border: 1px solid #F2F2F2;
  border-radius: 100%;
  margin-right: 10px;
}

.searchResult i {
  margin: auto;
  color: #0065FC;
}

.searchIcon i {
  display: none;
}

@media screen and (max-width:768px) {
  main {
    margin: 0;
    padding: 0;
  }
  .flexheader img {
    margin: 0 0 30 0;
  }
  .flexheader {
    flex-direction: column;
  }

  .flexheader nav {
    width: 100%;
  }

  .flexheader li {
    width: 50%;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 6;
  }

  .flexheader li:hover{
    border-bottom: 3px solid #0065FC;
  }

  .flexheader a {
    display: flex;
    justify-content: center;
    padding: inherit;
  }

  .flexheader a:hover{
    border: none;
    padding: inherit;
  }

  .headerTitle{
    margin-top: inherit;
    margin: 0 20 14 20;
  }

  .headerSubTitle{
    margin: 10 20;
  }

  .search {
    margin: 0 20;
  }
  .search form {
    margin-top: 24;
  }

  .headerTitle {
    font-size: 22;
  }
  
  .headerSubTitle {
    font-size: 15;
  }

  .searchIcon span {
    display: none;
  }
}
