body {
  font-size: 16px;
  background: white;
  font-family: 'Raleway', sans-serif;
}

main {
  max-width: 1440px;
  margin: auto;
  padding: 0px 56px 0px 56px;
}

h1 {
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 22px;
}

h2, .location h3, .popular h3, span, .descriptionbis {
  font-weight: bold;
}

/*--SECTION HEADER--*/

.flexheader {
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.flexheader ul {
  display: flex;
}

nav a {
  padding: 32px;
}

nav a:hover {
  color: #0065FC;
  padding-top: 41px;
  border-top: 2px solid #0065FC;
}

.flexheader img {
  margin-left: 16px;
  width: 97px;
}

.headerTitle {
  margin: 10px 0px;
}

.headerSubTitle {
  margin-bottom: 20px;
}

/*--SECTION SEARCH--*/

form {
  border-radius: 16px;
  display:inline-flex;
  font-weight: 900;
  border: 1px solid #F2F2F2;
  margin-bottom: 26px;
}

form input {
  padding-left: 10px;
  margin-right: -10px;
}

form button {
  padding: 12px;
  color: white;
  background: #0065FC;
  border-radius: 0px 16px 16px 0px;
}

form i {
  padding: 16px 20px 16px 18px;
  border-radius: 14px 0px 0px 14px;
  background: #F2F2F2;
}

.searchIcon i {
  display: none;
}

.searchFilter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.searchFilter h2 {
  padding: 0px 36px 0px 10px;
}

.searchFilter .iconBox {
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 48px;
}

.filter_flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

.filter_flex > .iconBox:nth-child(-n+3){
  margin-right: 20px;
}

.searchFilter .iconBox:hover {
  border: 2px solid #0065FC;
  background: #F2F2F2;
  transition: ease-in;
  transition-duration: 150ms;
}

.searchFilter .iconfas {
  color: #0065FC;
  background: #DEEBFF;
  border-radius: 50%;
  position: relative;
  right: 3px;
  height: 48px;
  width: 48px;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchFilter span {
  padding: 14px;
  font-size: 15px;
}

.searchResult {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.searchResult div {
  display: flex;
  height: 28px;
  min-width: 28px;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  margin-right: 10px;
}

.searchResult i {
  margin: auto;
  color: #0065FC;
  font-size: smaller;
}

/*--SECTION LOCATION--*/

.premier_bloc {
  display: flex;
  margin-bottom: 60px;
}

.premier_bloc section {
  background-color: #F2F2F2;
}

.location {
  border-radius: 20px;
  padding: 40px 10px 40px 40px;
  flex: 2.5;
}

.locbloc {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.location a {
  min-width: 33%;
  flex: 1;
}

.premier_bloc article {
  border: 5px solid white;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
  transition: all .2s ease-in-out;
}
.premier_bloc article:hover {
  transform: scale(1.05);
}

.location article {
  margin: 0px 30px 30px 0px;
}

.location article img {
  height: 110px;
  margin-bottom: 5px;
  object-fit: cover;
}

.location .description {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-around;
  padding: 10px;
}

.hotelRate i {
  font-size: 14px;
}

.blueStar {
  color: #0065FC;
}

.greyStar {
  color: #F2F2F2;
}

.plus {
  margin-left: 14px;
}

.popularTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.popularTitle i {
  font-size: 26px;
}

.popular {
  margin-left: 40px;
  border-radius: 20px;
  padding: 40px 40px 0px 40px;
  flex: 1;
}

.popular article {
  display: flex;
  height: 140px;
  margin-bottom: 40px;
}

.popular img {
  object-fit: cover;
  width: 130px;
}

.popular .description {
  padding: 6px 8px 6px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description p {
  margin-top: 6px;
  margin-bottom: auto;
}

/*--SECTION ACTIVITIES--*/

.second_bloc {
  display: flex;
  height: 450px;
}

.second_bloc img {
  object-fit: cover;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.column article {
  overflow: hidden;
  margin-right: 40px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
  transition: all .2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.last_column article {
  margin-right: 0px;
}

.column article:hover {
  transform: scale(1.05);
}

.vieux_port, .parc {
  height: 100%;
}

.vieux_port article, .parc article {
  height: 100%;
}

.fort {
  height: 50%;
  margin-bottom: 40px;
}

.fort article {
  height: 100%;
}

.fort article img {
  height: 100%;
}

.iles {
  height: 20%;
  flex: 1;
}

.iles article {
  height: 100%;
}

.iles article img {
  height: 100%;
}

.notre_dame {
  height: 20%;
  flex: 1;
  margin-bottom: 40px;
}

.notre_dame article {
  height: 100%;
}

.notre_dame article img {
  height: 100%;
}

.parc2 {
  height: 50%;
}

.parc2 article {
  height: 100%;
}

.parc2 article img {
  height: 100%;
}


.column .descriptionbis {
  display: flex;
  height: 60px;
  align-items: center;
  padding-left: 20px;
}

/*--SECTION FOOTER--*/

footer {
  margin-top: 40px;
  padding: 50px 50px 40px 50px;
  display: flex;
  background-color: #F2F2F2;
}

footer h2 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 10px;
}

footer div {
  flex: 1;
}

/*--VERSION 1300--*/

@media screen and (min-width:993px) and (max-width:1300px) {

  .location {
    flex: 2;
  }

  .location a {
    min-width: 50%;
  }

  .premier_bloc {
    font-size: 90%;
  }

  .popular article {
    min-width: 280px;
  }
}

/*--VERSION TABLETTE--*/

@media screen and (max-width:992px) {

  /*--FILTER TABLETTE--*/

  .searchFilter .iconBox {
    margin-bottom: 10px;
  }

  .searchFilter h2{
    margin-bottom: 15px;
  }

  /*--ACCOMMODATION TABLETTE--*/

  .premier_bloc {
    flex-direction: column-reverse;
  }

  .popular {  
    margin: 0;
    margin-bottom: 50px;
  }

  .premier_bloc article:hover, .column article:hover {
    transform: none;
  }

  /*--ACTIVITIES TABLETTE--*/

  .location a {
    min-width: 50%;
  }

  .second_bloc {
    flex-direction: column;
    height: auto;
  }
  
  .second_bloc article {
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .second_bloc a {
    margin-bottom: 0px;
  }

  .second_bloc img, .fort article img, .iles article img, .notre_dame article img, .parc2 article img {
    flex: none;
    height: 140px;
  }

  footer {
    padding-left: 106px;
    margin-left: -56px;
    margin-right: -56px;
  }
}

/*--VERSION MOBILE--*/

@media screen and (max-width:768px) {
  main {
    margin: 0;
    padding: 0;
  }

/*--HEAD MOBILE--*/

  .flexheader img {
    margin: 0px 0px 30px 0px;
  }

  .flexheader {
    flex-direction: column;
  }

  .flexheader nav {
    width: 100%;
    font-size: 15px;
  }

  .flexheader li {
    width: 50%;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 6px;
  }

  .flexheader li:hover{
    border-bottom: 3px solid #0065FC;
  }

  .flexheader a {
    display: flex;
    justify-content: center;
    padding: inherit;
  }

  .flexheader a:hover{
    border: none;
    padding: inherit;
  }

  .headerTitle{
    margin-top: inherit;
    margin: 0px 20px 14px 20px;
    font-size: 22px;
  }

  .headerSubTitle{
    margin: 10px 20px;
    font-size: 15px;
  }

/*--FILTER MOBILE--*/

  .search {
    margin: 0px 20px;
  }
  .search form {
    margin-top: 24px;
  }

  .searchIcon span {
    display: none;
  }

  .searchIcon i {
    display: contents;
  }

  .searchIcon {
    width: 50px;
    border-radius: 14px;
  }

  .filter_flex {
    margin: 0px;
  }

  .filter_flex > .iconBox:nth-child(-n+3) {
    margin-right: 10px;
  }

/*--ACCOMMODATION MOBILE--*/

  .popular {
    border-radius: inherit;
    padding: 10px 15px 30px 15px;
    margin-bottom: 40px;
  }

  .popular article {
    margin-bottom: 12px;
  }

  .premier_bloc .location {
    background-color: white;
    padding: 0px 15px;
  }

  .premier_bloc .location a {
    min-width: 100%;
  }

  .premier_bloc .location article {
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .plus {
    margin-left: 0px;
  }

/*--ACTIVITIES MOBILE--*/

  .activitiesTitle {
    margin-left: 15px;
  }

  .second_bloc {
    padding: 0px 15px;
    margin-bottom: 20px;
  }

  .second_bloc article {
    margin-bottom: 20px;
  }

/*--FOOTER MOBILE--*/

  footer {
    flex-direction: column;
    margin: 0px;
    padding: 40px 30px;
  }

  .about {
    margin-bottom: 20px;
  }

  .accommodation {
    margin-bottom: 20px;
  }

}